---
import Layout from "@layouts/Layout.astro";
import Card from "@components/Card.astro";
import { blog } from "@constants";
import { getBlogs } from "@utils";
import type { CollectionEntry } from "astro:content";

const { title, description } = blog;

const blogs = await getBlogs();
type BlogWithYear = {
  [year: string] : CollectionEntry<"blog">[];
}


const posts = blogs.reduce((bwy: BlogWithYear, post) => {
  const year = post.data.date.getFullYear().toString();
  if (!bwy[year]) {
    bwy[year] = [];
  }

  bwy[year].push(post);
  return bwy;
}, {});

const years = Object.keys(posts).sort((a, b) => parseInt(b) - parseInt(a));

const uniquTags = [
  ...new Set(
    blogs
      .filter((p) => p.data.tags)
      .map((p) => p.data.tags)
      .flat(),
  ),
];

---

<Layout title={title} description={description} >
  <h2 class="font-bold">Blogs</h2>
  <div class="flex justify-between gap-5">
    <div class="w-full">
      {
		years.map((year) => (
		  <div class="font-bold my-4">{year}</div>
		  <div class="flex flex-col gap-3">
		    {posts[year]?.map((bl) => (
		      <Card
		        title={bl.data.title}
		        body={bl.data.description}
		        href={`/blogs/${bl.slug}`}
		      />
		  ))}
		  </div>
		))
	  }
    </div>
    <div class="w-20 flex flex-col">
      <h2 class="font-bold my-4">Tags</h2>
      {
        uniquTags.map((tag) => (
          <div class="dark:bg-black-300 bg-white-400 rounded text-xs px-2.5 py-0.5 me-1 hover:underline mb-2 text-center">
            <a href={`/blogs/tags/${tag}`}>{tag}</a>
          </div>
        ))
      }
    </div>
</div>

</Layout>
